@model InventoryWorld.Models.Products

@{
    ViewData["Title"] = "Create";
}


<div class="box">
<div class="box-header">
<h2>Create</h2>

<div class="box-body">
<h4>Products</h4>
<hr />

    
        <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6" id="columnfirst">
                
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" id="selectfinder2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku" class="control-label"></label>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
              </div>
                <div class="col-md-6" id=" columnsecond">

            <div class="form-group" id="selectfinder1">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div id="Attselect">

            </div>
            <div class="form-group">
                <label asp-for="Brand.BrandName" class="control-label"></label>
                <select name="Brandname"  class="form-control" asp-items="ViewBag.BrandsName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Store.StoresName" class="control-label"></label>
                <select name="Storename" class="form-control" asp-items="ViewBag.StoresName"></select>
            </div>
            <div class="form-group">
                <div class="checkbox" style="display:none">
                    <label>
                        <input asp-for="Availability" /> @Html.DisplayNameFor(model => model.Availability)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                </div>
        </form>
          </div>
   

<div class="col-md-6">
    <a asp-action="Index">Back to List</a>
</div>

</div>
</div>
<script>
    window.onload = function () {
       
        $.ajax({
            url: '/Products/ActiveAttributes',
            type:'get',
            dataType:'json',

            success: function (response) {
                if (response == null || response == undefined || response.length == 0) {
                    alert("unable to get attribute data");
                }

                else {
                    console.log(response.length);
                    console.log(response);

                    for (var i = 0; i < response.length; i++) {
                        if (i % 2 == 0) {
                            console.log(i);
                            var select = $('<select>').addClass("form-control");

                            var divElement = $("<div>").addClass("form-group");
                            divElement.append($("<label>").addClass("control-label").text(response[i].attributeName));
                            select.attr("name", "dynamic" + response[i].attributeName);
                            $.each(response[i].value, function (index, value) {

                                $("<option>").text(value).appendTo(select);


                            });
                            divElement.append(select);

                            $(divElement).insertBefore("#selectfinder1");
                        }

                        else {

                            var select1 = $('<select>').addClass("form-control");

                            select1.attr("name", "dynamic" + response[i].attributeName);
                            var divElement1 = $("<div>").addClass("form-group");
                            divElement1.append($("<label>").addClass("control-label").text(response[i].attributeName));
                            $.each(response[i].value, function (index, value) {

                                $("<option>").text(value).appendTo(select1);
                            });
                            divElement1.append(select1);

                            $(divElement1).insertBefore("#selectfinder2");
                            console.log(divElement1);
                        }
                    
                    }
                    
                    //$('#Attselect').html(select1);
                      //  console.log(select);
                }
            }
        })
    }
</script>

